.npbutton {
    display: flex;
    margin-left: 85%;
    margin-top: -40px;
}

.modal {
    position: absolute;
    left: 32.5%;
    top: 32.5%;
    width: 85%;
  }

.logout-button {
    display: flex;
    margin-top: 40px;
    margin-left: 75px;
}

.x-button {
    margin-left: 85%;
    margin-top: 50px !important;

}

.success {
    margin-left: 35%;
    width: 20% !important;
    margin-top: 17.5px;
}

// .p-dropdown{
// display: inline:flex
// }