.npbutton {
    display: flex;
    margin-left: 90%;
    margin-top: -40px;
}

.modal {
    position: absolute;
    left: 50%;
    top: 40%;
    // transform: translate(-50%, -50%);
    width: 85%;
  }

.logout-button {
    display: flex;
    margin-top: 40px;
    margin-left: 75px;
}